# ATR breakount - Analytics

### Import Library

In [13]:
import numpy as np
import pandas as pd
import numpy as np
import pandas_ta as ta
import seaborn as sns

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [12, 6]
plt.rcParams['figure.dpi'] = 120
import warnings
warnings.filterwarnings('ignore')

### Load Price Data

In [14]:
import os
from pathlib import Path
notebook_path = os.getcwd()
algo_dir = Path(notebook_path).parent.parent
csv_file = str(algo_dir) + '/vn-stock-data/VN30ps/VN30F1M_5minutes.csv'
is_file = os.path.isfile(csv_file)
if is_file:
    dataset = pd.read_csv(csv_file, index_col='Date', parse_dates=True)
else:
    print('remote')
    dataset = pd.read_csv("https://raw.githubusercontent.com/zuongthaotn/vn-stock-data/main/VN30ps/VN30F1M_5minutes.csv", index_col='Date', parse_dates=True)

In [15]:
data = dataset.copy()

In [16]:
data

                       Open    High     Low   Close  Volume
Date
2018-08-13 09:00:00   943.5   943.6   942.9   943.1    1812
2018-08-13 09:05:00   943.1   943.5   942.9   943.3    1323
2018-08-13 09:10:00   943.2   943.3   942.6   943.1    1207
2018-08-13 09:15:00   943.1   943.1   942.3   942.6    1196
2018-08-13 09:20:00   942.6   943.7   942.4   943.7    1765
...                     ...     ...     ...     ...     ...
2025-02-07 14:15:00  1343.3  1344.4  1342.4  1344.2    5075
2025-02-07 14:20:00  1344.2  1344.7  1343.6  1344.0    4865
2025-02-07 14:25:00  1344.1  1344.2  1342.8  1343.3    5013
2025-02-07 14:30:00  1343.3  1343.3  1343.3  1343.3     107
2025-02-07 14:45:00  1343.3  1343.3  1343.3  1343.3    6047

[82375 rows x 5 columns]

In [17]:
data = data[data.index > '2020-11-01 00:00:00']

In [18]:
data["ATR"] = ta.atr(data['High'], data['Low'], data['Close'], length=14)
data['price_move'] = data['Close'] - data['Close'].shift(1)
data['ATR_breakout'] = data.apply(lambda r: True if abs(r['price_move']) > 0.5 * r['ATR'] else False, axis=1)

In [19]:
data[data.ATR_breakout == True]

,Open,High,Low,Close,Volume,ATR,price_move,ATR_breakout
Date,,,,,,,,
2020-11-02 10:15:00,899.6,901.5,899.6,901.2,2305,1.358712,1.5,True
2020-11-02 10:20:00,901.1,901.2,899.3,899.3,1796,1.414385,-1.9,True
2020-11-02 10:45:00,899.4,900.2,896.7,897.9,3197,1.487030,-1.5,True
2020-11-02 10:55:00,898.0,898.3,897.2,897.3,1668,1.502933,-1.0,True
2020-11-02 11:10:00,897.5,898.1,896.5,896.6,1435,1.562178,-1.0,True
...,...,...,...,...,...,...,...,...
2025-02-07 13:40:00,1343.9,1347.4,1343.8,1345.3,14175,1.536432,1.6,True
2025-02-07 13:45:00,1345.5,1346.5,1345.3,1346.1,4717,1.512401,0.8,True
2025-02-07 13:50:00,1346.1,1346.4,1344.2,1344.9,4430,1.561515,-1.2,True
2025-02-07 14:10:00,1345.1,1345.2,1342.5,1343.1,6571,1.580960,-1.9,True
2025-02-07 14:15:00,1343.3,1344.4,1342.4,1344.2,5075,1.610891,1.1,True

In [22]:
data[data.ATR_breakout == True].tail(21)

,Open,High,Low,Close,Volume,ATR,price_move,ATR_breakout
Date,,,,,,,,
2025-02-06 14:25:00,1340.5,1340.6,1338.6,1339.2,4329,1.507611,-1.4,True
2025-02-07 09:00:00,1338.5,1338.5,1335.8,1336.6,8279,1.545416,-3.3,True
2025-02-07 09:15:00,1336.9,1338.0,1335.0,1335.2,5915,1.604183,-1.7,True
2025-02-07 09:20:00,1335.2,1336.6,1335.2,1336.4,3481,1.589599,1.2,True
2025-02-07 09:25:00,1336.4,1337.5,1336.2,1337.3,3008,1.568913,0.9,True
2025-02-07 09:40:00,1338.3,1338.5,1337.0,1337.6,2263,1.545700,-0.9,True
2025-02-07 09:55:00,1336.4,1337.7,1336.2,1337.5,1555,1.465526,1.0,True
2025-02-07 10:00:00,1337.5,1339.6,1337.0,1339.2,5595,1.546560,1.7,True
2025-02-07 10:10:00,1338.5,1339.5,1338.3,1339.3,1630,1.545248,0.8,True
2025-02-07 10:55:00,1338.3,1340.1,1338.3,1340.1,3682,1.308556,1.8,True
2025-02-07 11:10:00,1339.2,1340.9,1339.0,1340.2,2790,1.330283,1.1,True
2025-02-07 13:00:00,1340.3,1340.4,1339.3,1339.6,1212,1.187506,-0.7,True
2025-02-07 13:10:00,1339.0,1339.0,1337.8,1338.3,2756,1.202492,-0.7,True
2025-02-07 13:15:00,1338.2,1340.1,1338.0,1339.7,2991,1.266600,1.4,True
2025-02-07 13:20:00,1339.7,1341.8,1339.5,1341.5,5825,1.340414,1.8,True
2025-02-07 13:35:00,1342.0,1343.9,1342.0,1343.7,5828,1.370004,1.7,True
2025-02-07 13:40:00,1343.9,1347.4,1343.8,1345.3,14175,1.536432,1.6,True
2025-02-07 13:45:00,1345.5,1346.5,1345.3,1346.1,4717,1.512401,0.8,True
2025-02-07 13:50:00,1346.1,1346.4,1344.2,1344.9,4430,1.561515,-1.2,True
2025-02-07 14:10:00,1345.1,1345.2,1342.5,1343.1,6571,1.580960,-1.9,True
2025-02-07 14:15:00,1343.3,1344.4,1342.4,1344.2,5075,1.610891,1.1,True

### Calculate signal