# First 2 bars vs day candlestick color - Analytics

### Import Library

In [11]:
import numpy as np
import pandas as pd
import numpy as np
import pandas_ta as ta
import seaborn as sns

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [12, 6]
plt.rcParams['figure.dpi'] = 120
import warnings
warnings.filterwarnings('ignore')

### Load Price Data

In [12]:
import os
from pathlib import Path
notebook_path = os.getcwd()
algo_dir = Path(notebook_path).parent.parent
csv_file = str(algo_dir) + '/vn-stock-data/VN30ps/VN30F1M_5minutes.csv'
is_file = os.path.isfile(csv_file)
if is_file:
    dataset = pd.read_csv(csv_file, index_col='Date', parse_dates=True)
else:
    print('remote')
    dataset = pd.read_csv("https://raw.githubusercontent.com/zuongthaotn/vn-stock-data/main/VN30ps/VN30F1M_5minutes.csv", index_col='Date', parse_dates=True)

In [13]:
tmp_data = dataset.copy()

In [14]:
def bar9h(tick):
    tick=tick[(tick.index.hour == 9) & (tick.index.minute == 0)]
    if len(tick):
        return tick[0]
def bar9h5(tick):
    tick=tick[(tick.index.hour == 9) & (tick.index.minute == 5)]
    if len(tick):
        return tick[0]
tmp_data['Close_9h'] = tmp_data['Close']
tmp_data['Open_9h'] = tmp_data['Open']
tmp_data['Close_9h5'] = tmp_data['Close']
tmp_data['Open_9h5'] = tmp_data['Open']
day_data = tmp_data.resample('D').agg({
        'Open': 'first',
        'Close': 'last',
        'High': 'max',
        'Low': 'min',
        'Open_9h': bar9h,
        'Close_9h': bar9h,
        'Open_9h5': bar9h5,
        'Close_9h5': bar9h5
    })
day_data.dropna(subset=['Close'], inplace=True)

In [15]:
len(day_data)

1490

### Same color

In [18]:
day_data[((day_data.Open_9h >= day_data.Close_9h) & (day_data.Open_9h5 >= day_data.Close_9h5)) | ((day_data.Open_9h <= day_data.Close_9h) & (day_data.Open_9h5 <= day_data.Close_9h5))]

,Open,Close,High,Low,Open_9h,Close_9h,Open_9h5,Close_9h5
Date,,,,,,,,
2018-08-15,958.0,946.6,962.3,946.6,958.0,958.7,958.6,959.3
2018-08-16,942.4,947.0,947.3,935.5,942.4,942.0,942.0,941.8
2018-08-23,957.0,960.6,963.5,955.8,957.0,957.0,957.2,956.9
2018-08-29,966.0,962.0,966.1,962.0,966.0,965.7,965.7,965.5
2018-08-30,961.1,970.5,970.5,960.6,961.1,961.5,961.5,961.7
...,...,...,...,...,...,...,...,...
2024-07-26,1278.7,1285.0,1285.0,1276.8,1278.7,1278.3,1278.2,1278.0
2024-07-29,1289.9,1287.8,1294.7,1287.8,1289.9,1291.2,1291.2,1292.2
2024-07-30,1286.1,1292.4,1292.4,1284.2,1286.1,1285.6,1285.5,1285.4
2024-07-31,1292.0,1304.3,1304.3,1291.1,1292.0,1292.3,1292.4,1292.8
2024-08-01,1305.5,1275.0,1306.2,1271.0,1305.5,1305.5,1305.3,1306.1

In [16]:
day_data[(day_data.Open_9h >= day_data.Close_9h) & (day_data.Open_9h5 >= day_data.Close_9h5) & (day_data.Open >= day_data.Close)]

,Open,Close,High,Low,Open_9h,Close_9h,Open_9h5,Close_9h5
Date,,,,,,,,
2018-08-29,966.0,962.0,966.1,962.0,966.0,965.7,965.7,965.5
2018-09-06,945.3,934.7,945.8,933.4,945.3,945.0,945.1,944.9
2018-09-10,944.5,936.2,944.8,934.8,944.5,943.5,943.6,943.5
2018-09-17,955.7,950.5,956.3,949.3,955.7,954.6,955.0,954.8
2018-09-25,982.2,980.6,983.9,979.5,982.2,981.7,981.7,981.4
...,...,...,...,...,...,...,...,...
2024-07-08,1317.1,1314.0,1317.9,1305.6,1317.1,1316.1,1316.1,1315.8
2024-07-12,1304.9,1300.0,1310.0,1298.2,1304.9,1304.6,1304.7,1304.5
2024-07-17,1309.0,1303.2,1321.8,1294.7,1309.0,1308.2,1308.4,1308.4
2024-07-19,1304.6,1297.1,1311.2,1295.3,1304.6,1304.4,1304.4,1304.4
2024-07-25,1276.9,1276.6,1278.9,1270.7,1276.9,1276.5,1276.5,1276.4

In [17]:
day_data[(day_data.Open_9h <= day_data.Close_9h) & (day_data.Open_9h5 <= day_data.Close_9h5) & (day_data.Open <= day_data.Close)]

,Open,Close,High,Low,Open_9h,Close_9h,Open_9h5,Close_9h5
Date,,,,,,,,
2018-08-30,961.1,970.5,970.5,960.6,961.1,961.5,961.5,961.7
2018-09-13,952.9,953.0,959.5,948.6,952.9,953.7,953.8,955.0
2018-09-14,956.0,958.5,960.9,953.5,956.0,956.2,956.4,956.8
2018-09-20,963.8,971.0,971.0,962.2,963.8,963.9,963.9,964.0
2018-09-24,978.1,981.5,984.5,977.3,978.1,979.5,979.4,979.6
...,...,...,...,...,...,...,...,...
2024-06-19,1309.8,1317.0,1325.0,1298.8,1309.8,1310.9,1311.1,1311.7
2024-07-02,1284.7,1295.2,1299.0,1283.5,1284.7,1286.6,1286.7,1287.4
2024-07-05,1308.5,1316.3,1316.5,1307.2,1308.5,1309.7,1309.7,1309.8
2024-07-22,1291.3,1300.0,1304.4,1291.3,1291.3,1293.6,1293.7,1293.7
2024-07-31,1292.0,1304.3,1304.3,1291.1,1292.0,1292.3,1292.4,1292.8