# Higher High but lower RSI - Analytics

### Import Library

In [17]:
import numpy as np
import pandas as pd
import numpy as np
import pandas_ta as ta
import seaborn as sns

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [12, 6]
plt.rcParams['figure.dpi'] = 120
import warnings
warnings.filterwarnings('ignore')

### Load Price Data

In [18]:
import os
from pathlib import Path
notebook_path = os.getcwd()
algo_dir = Path(notebook_path).parent.parent
csv_file = str(algo_dir) + '/vn-stock-data/VN30ps/VN30F1M_5minutes.csv'
is_file = os.path.isfile(csv_file)
if is_file:
    dataset = pd.read_csv(csv_file, index_col='Date', parse_dates=True)
else:
    print('remote')
    dataset = pd.read_csv("https://raw.githubusercontent.com/zuongthaotn/vn-stock-data/main/VN30ps/VN30F1M_5minutes.csv", index_col='Date', parse_dates=True)

In [19]:
data = dataset.copy()

In [20]:
# data = data[(data.index > '2020-11-01 00:00:00') & (data.index < '2024-10-01 00:00:00')]
data = data[data.index > '2020-11-01 00:00:00']

In [21]:
data

                       Open    High     Low   Close  Volume
Date
2020-11-02 09:00:00   900.1   900.2   899.3   900.1    1910
2020-11-02 09:05:00   900.2   900.2   898.7   899.4    1670
2020-11-02 09:10:00   899.5   900.0   899.0   899.5    1329
2020-11-02 09:15:00   899.4   899.5   898.2   898.6    1722
2020-11-02 09:20:00   898.5   898.6   896.5   898.2    2939
...                     ...     ...     ...     ...     ...
2025-02-13 14:15:00  1333.5  1335.4  1333.4  1335.0    5583
2025-02-13 14:20:00  1335.4  1336.5  1334.7  1334.9    5753
2025-02-13 14:25:00  1335.3  1336.8  1334.9  1336.8    4879
2025-02-13 14:30:00  1336.5  1336.9  1336.5  1336.9     212
2025-02-13 14:45:00  1337.5  1337.5  1337.5  1337.5    6458

[54431 rows x 5 columns]

In [22]:
def is_shortable(r):
    shortable = False
    if r['High'] > r['High_s1'] + 0.1 and r['RSI'] < r['RSI_s1']:
        shortable = True
    return shortable

In [23]:
data['Close_s1'] = data['Close'].shift(1)
data['High_s1'] = data['High'].shift(1)
data['Low_s1'] = data['Low'].shift(1)
data["RSI"] = ta.rsi(data["Close"], length=14)
data['RSI_s1'] = data['RSI'].shift(1)
data['shortable'] = data.apply(lambda r: is_shortable(r), axis=1)

In [25]:
data[data.shortable == True].tail(10)

,Open,High,Low,Close,Volume,Close_s1,High_s1,Low_s1,RSI,RSI_s1,shortable
Date,,,,,,,,,,,
2025-02-12 13:30:00,1339.9,1340.7,1339.8,1339.8,3092,1339.9,1339.9,1338.6,58.392608,59.436991,True
2025-02-13 09:10:00,1331.3,1331.7,1330.5,1330.8,2174,1331.3,1331.5,1330.9,26.633798,27.878984,True
2025-02-13 10:00:00,1330.8,1331.2,1330.4,1330.5,1193,1330.9,1330.9,1330.1,35.914962,37.630339,True
2025-02-13 10:45:00,1329.8,1330.8,1329.4,1329.6,3924,1329.8,1329.8,1328.6,44.827567,45.732198,True
2025-02-13 11:15:00,1333.4,1333.9,1332.5,1332.9,4527,1333.5,1333.6,1332.5,59.093944,62.783970,True
2025-02-13 13:05:00,1333.7,1334.0,1333.0,1333.2,2933,1333.6,1333.8,1332.8,59.107918,62.000500,True
2025-02-13 13:20:00,1335.9,1336.6,1335.1,1335.6,6156,1335.9,1335.9,1333.6,67.764149,69.941058,True
2025-02-13 13:45:00,1337.2,1338.5,1336.5,1336.9,4460,1337.2,1337.5,1336.7,66.257459,68.294693,True
2025-02-13 13:55:00,1337.4,1337.9,1335.8,1336.1,3575,1337.3,1337.3,1336.6,59.718748,67.643386,True
2025-02-13 14:20:00,1335.4,1336.5,1334.7,1334.9,5753,1335.0,1335.4,1333.4,52.374395,52.893441,True