# OHCL - Analytics

### Import Library

In [1]:
import numpy as np
import pandas as pd
import numpy as np
import pandas_ta as ta
import seaborn as sns

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [12, 6]
plt.rcParams['figure.dpi'] = 120
import warnings
warnings.filterwarnings('ignore')

### Load Price Data

In [2]:
import os
from pathlib import Path
notebook_path = os.getcwd()
algo_dir = Path(notebook_path).parent.parent
csv_file = str(algo_dir) + '/vn-stock-data/VN30ps/VN30F1M_5minutes.csv'
is_file = os.path.isfile(csv_file)
if is_file:
    dataset = pd.read_csv(csv_file, index_col='Date', parse_dates=True)
else:
    print('remote')
    dataset = pd.read_csv("https://raw.githubusercontent.com/zuongthaotn/vn-stock-data/main/VN30ps/VN30F1M_5minutes.csv", index_col='Date', parse_dates=True)

In [3]:
data = dataset.copy()

In [ ]:
data = data[(data.index > '2020-11-01 00:00:00') & (data.index < '2024-10-01 00:00:00')]

In [5]:
data

,Open,High,Low,Close,Volume,ohcl,ohcl_p
Date,,,,,,,
2018-08-13 09:00:00,943.5,943.6,942.9,943.1,1812,943.275,943.200000
2018-08-13 09:05:00,943.1,943.5,942.9,943.3,1323,943.200,943.233333
2018-08-13 09:10:00,943.2,943.3,942.6,943.1,1207,943.050,943.000000
2018-08-13 09:15:00,943.1,943.1,942.3,942.6,1196,942.775,942.666667
2018-08-13 09:20:00,942.6,943.7,942.4,943.7,1765,943.100,943.266667
...,...,...,...,...,...,...,...
2024-07-16 14:15:00,1300.5,1302.1,1299.1,1302.0,9624,1300.925,1301.066667
2024-07-16 14:20:00,1302.0,1303.4,1301.1,1302.4,7682,1302.225,1302.300000
2024-07-16 14:25:00,1302.4,1302.4,1301.1,1301.8,4741,1301.925,1301.766667
2024-07-16 14:30:00,1301.9,1302.0,1301.9,1302.0,91,1301.950,1301.966667
2024-07-16 14:45:00,1302.7,1302.7,1302.7,1302.7,5289,1302.700,1302.700000