In [2]:
import warnings
warnings.filterwarnings('ignore')

import os
import sys
import numpy as np
import platform
METHOD_MODULE_PATH = os.path.abspath('..')
sys.path.insert(1, METHOD_MODULE_PATH)
import method.algofuncs as _af

path = os.getcwd()

In [3]:
ticker_id = 'VND'
DATA_PATH = os.path.abspath('../vn-stock-data/VNX/')
ticker_data = _af.get_pricing_by_path(DATA_PATH + '/' + ticker_id + '.csv', '2021-01-01')

In [4]:
ticker_data

               Open     High      Low    Close    Volume       Date
Date
2021-01-04  30.5660  30.9604  30.1716  30.1716   3176700 2021-01-04
2021-01-05  29.5800  30.2209  29.3828  29.6786   6240500 2021-01-05
2021-01-06  30.4181  30.6646  29.2842  29.5307   4625800 2021-01-06
2021-01-07  29.7772  29.8758  28.9884  29.5800   5525400 2021-01-07
2021-01-08  30.0730  30.0730  28.9884  29.1856   5535100 2021-01-08
...             ...      ...      ...      ...       ...        ...
2021-06-25  42.7000  45.2000  42.5000  45.0000  10503774 2021-06-25
2021-06-28  45.0000  46.5000  45.0000  45.5000   5988496 2021-06-28
2021-06-29  45.6000  46.3000  44.5000  45.2000   6120561 2021-06-29
2021-06-30  45.2000  45.3000  44.4000  44.4000   5558299 2021-06-30
2021-07-01  45.0000  46.8000  44.4000  46.4000   9490000 2021-07-01

[121 rows x 6 columns]

In [8]:
ticker_data['height'] = ticker_data.apply(lambda x: x['High'] - x['Low'], axis = 1)
ticker_data['body'] = ticker_data.apply(lambda x: abs(x['Close'] - x['Open']), axis = 1)
ticker_data['up_shadow'] = ticker_data.apply(lambda x: (x['High'] - x['Close']) if (x['Close'] > x['Open']) else (x['High'] - x['Open']), axis = 1)
ticker_data['low_shadow'] = ticker_data.apply(lambda x: (x['Open'] - x['Low']) if (x['Close'] > x['Open']) else (x['Close'] - x['Low']), axis = 1)
ticker_data

,Open,High,Low,Close,Volume,Date,height,body,up_shadow,low_shadow
Date,,,,,,,,,,
2021-01-04,30.5660,30.9604,30.1716,30.1716,3176700,2021-01-04,0.7888,0.3944,0.3944,0.0000
2021-01-05,29.5800,30.2209,29.3828,29.6786,6240500,2021-01-05,0.8381,0.0986,0.5423,0.1972
2021-01-06,30.4181,30.6646,29.2842,29.5307,4625800,2021-01-06,1.3804,0.8874,0.2465,0.2465
2021-01-07,29.7772,29.8758,28.9884,29.5800,5525400,2021-01-07,0.8874,0.1972,0.0986,0.5916
2021-01-08,30.0730,30.0730,28.9884,29.1856,5535100,2021-01-08,1.0846,0.8874,0.0000,0.1972
...,...,...,...,...,...,...,...,...,...,...
2021-06-25,42.7000,45.2000,42.5000,45.0000,10503774,2021-06-25,2.7000,2.3000,0.2000,0.2000
2021-06-28,45.0000,46.5000,45.0000,45.5000,5988496,2021-06-28,1.5000,0.5000,1.0000,0.0000
2021-06-29,45.6000,46.3000,44.5000,45.2000,6120561,2021-06-29,1.8000,0.4000,0.7000,0.7000
2021-06-30,45.2000,45.3000,44.4000,44.4000,5558299,2021-06-30,0.9000,0.8000,0.1000,0.0000
2021-07-01,45.0000,46.8000,44.4000,46.4000,9490000,2021-07-01,2.4000,1.4000,0.4000,0.6000

In [9]:
today = ticker_data.tail(1)
today

,Open,High,Low,Close,Volume,Date,height,body,up_shadow,low_shadow
Date,,,,,,,,,,
2021-07-01,45.0,46.8,44.4,46.4,9490000,2021-07-01,2.4,1.4,0.4,0.6

In [17]:
for index, row in ticker_data.iterrows():
    if(row['low_shadow'] > 2 * row['body']):
        print(row['Date'])

2021-01-07 00:00:00
2021-01-20 00:00:00
2021-01-21 00:00:00
2021-02-08 00:00:00
2021-02-09 00:00:00
2021-02-17 00:00:00
2021-02-18 00:00:00
2021-02-19 00:00:00
2021-02-23 00:00:00
2021-02-25 00:00:00
2021-03-03 00:00:00
2021-03-05 00:00:00
2021-03-09 00:00:00
2021-03-22 00:00:00
2021-03-25 00:00:00
2021-03-26 00:00:00
2021-03-29 00:00:00
2021-04-05 00:00:00
2021-04-09 00:00:00
2021-04-19 00:00:00
2021-04-27 00:00:00
2021-05-06 00:00:00
2021-05-18 00:00:00
2021-05-21 00:00:00
2021-05-26 00:00:00
2021-06-03 00:00:00
2021-06-14 00:00:00
2021-06-18 00:00:00